<apex:page controller="vvCSRAccountManagementControllerClone" extensions="vvAccountManagementExtension" showHeader="false" sidebar="false" title="{!IF(a.Id != null,'Update Customer Account','Create New Customer Account')}">
<style>
.rich-tab-header {
    padding: 8px 10px 8px 10px;
    font-size: 1.2em !important;
}
.rich-tab-active {
    background-image: url(/) !important;
    background-color: #242F6A;
    color: #fff;
}
.rich-tab-inactive {
    background-image: url(/) !important;
    background-color: #ccc;
}
.pbSubheader {
    background-color: #242F6A;
}
.savings-text {
    font-weight: bold;
    color: #0a8900;
}
</style>
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script>
var vrCard='';
var vrCardtype='';
$j = jQuery.noConflict();
</script>

<apex:form id="mainform">
    <apex:actionStatus id="status">
        <apex:facet name="start">
        <div style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; opacity: 0.25; z-index: 1000; background-color: black;">
            &nbsp;
        </div>
        <div style="position: fixed; left: 0; top: 0; bottom: 0; right: 0; z-index: 1001; margin: 15% 45%">
            <div style="display: inline-block; padding: 2px; background-color: #fff; width: 125px;">
                <img src="/img/loading.gif" style="float: left; margin: 8px;" />
                <span style="display: inline-block; padding: 10px 0px;">Please Wait...</span>
            </div>
        </div>
        </apex:facet>
    </apex:actionStatus>


    <apex:tabPanel switchType="client" selectedTab="{!selTab}" id="theTabPanel" value="{!selTab}">

        <!-- customer information -->
        <apex:tab label="Customer Information" name="section1" id="section1">

        <apex:pageBlock >
            <apex:pageMessages rendered="{!!PaymentMsg}"/>
            <apex:pageBlockSection title="Billing" collapsible="false" columns="2">
                <!--apex:selectList label="Salutation:" value="{!salutation}" styleClass="form-control input-sm" size="1" tabIndex="1">
                  <apex:selectOptions value="{!salutations}"/>
                </apex:selectList-->
                <apex:inputText label="First Name:*" value="{!firstname}" tabIndex="1"/>
                <apex:inputText label="Street:*" value="{!a.BillingStreet}" tabIndex="6" styleClass="reqcls"/>
                 <apex:inputText label="Last Name:*" value="{!lastname}" tabIndex="2"/>
                 
                <apex:selectList label="Country:*" id="billingcountryid" value="{!a.BillingCountry}" styleClass="form-control input-sm" size="1" onchange="updateStateListJS();" tabIndex="7">
                    <apex:selectOptions value="{!countries}"/>
                </apex:selectList>
                <apex:inputText label="Telephone:*" value="{!a.Phone}" tabIndex="3" styleClass="reqcls phonecls"/>
               
                <apex:inputText id="postal" label="Postal Code:*" value="{!a.BillingPostalCode}" tabIndex="8" styleClass="reqcls"/>
                <apex:inputText label="Email:*" value="{!a.PersonEmail}" tabIndex="4" styleClass="reqcls"/>
                
                <apex:inputText id="city" label="City:*" value="{!a.BillingCity}" tabIndex="9" styleClass="reqcls"/>
                <apex:inputText label="ConfirmEmail:*" value="{!confirmEmail}" tabIndex="5" styleClass="reqcls"/>
                

                <apex:pageBlockSectionItem id="statediv">
                    <apex:outputLabel value="State / Province:*"/>

                    <apex:outputPanel layout="none">
                       <apex:selectList rendered="{!a.BillingCountry == 'USA' || a.BillingCountry == 'Canada' || a.BillingCountry == 'Australia'}" id="statesel" value="{!a.BillingState}" size="1" tabIndex="10">
                            <apex:selectOptions value="{!states}"/>
                        </apex:selectList>

                        <apex:inputText id="state" value="{!a.BillingState}" tabIndex="11" rendered="{!a.BillingCountry != 'USA' && a.BillingCountry != 'Canada' && a.BillingCountry 
                                                                                                     != 'Australia'}"/>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>

                <apex:inputText label="Referral Email:" value="{!referral_code}" tabIndex="13"/>
                

                <!-- currency -->
                <apex:pageBlockSectionItem id="currencydiv">
                  <apex:outputLabel value="Preferred Currency:*" for="currency"/>

                  <apex:outputPanel layout="none">
                  <!--apex:selectList label="Preferred Currency:*" id="currencyselect" value="{!a.Account_Currency__c}" styleClass="form-control input-sm" size="1" tabIndex="12" rendered="{!showcurrency_selection}">
                    <apex:selectOption itemValue="USD" itemLabel="USD"/>
                    <apex:selectOption itemValue="GBP" itemLabel="GBP" rendered="{!showGBP}"/>
                    <apex:selectOption itemValue="EUR" itemLabel="EUR" rendered="{!showEUR}"/>
                  </apex:selectList-->

                  <!--div id="countrydisplaytextdiv" class="hidden">{!a.Account_Currency__c}</div-->
                  <div>{!a.Account_Currency__c}</div>

                  </apex:outputPanel>
                  
                </apex:pageBlockSectionItem>

                


                <script>
                function aftercurrencyupdate() {
                    if ($j("[Id='{!$Component.currencydiv.currencyselect}']").css('display') == 'none') {
                        $j('#countrydisplaytextdiv').removeClass('hidden').show();
                    } else {
                        $j('#countrydisplaytextdiv').hide();
                    }
                }
                function updateStateListJS() {
                    updateStateList($j("[Id='{!$Component.billingcountryid}']").find(":selected").text(),$j("[Id='{!$Component.billingcountryid}']").prop('checked'));
                }
                $j("[Id='{!$Component.postal}']").blur(function() {
                  if($j("[Id='{!$Component.billingcountryid}']").val() == 'USA' || $j("[Id='{!$Component.billingcountryid}']").val() == 'Canada') var addr = getAddressInfoByZip(this.value,'{!$Component.city}','{!$Component.statediv.state}','{!$Component.statediv.statesel}');
                });

                $j(function() {
                    aftercurrencyupdate();
                });
                </script>

            </apex:pageBlockSection>

            <apex:pageBlockSection title="Shipping" collapsible="false" columns="1">
                <apex:inputCheckbox label="Same as Billing" id="sameAsBilling" value="{!sameAsBilling}" />
            </apex:pageBlockSection>

            <apex:pageBlockSection collapsible="false" columns="2" rendered="{!!sameAsBilling}">

            <apex:inputField label="Shipping First Name:" value="{!a.Shipping_FirstName__c}"/>
            <apex:inputField label="Shipping Address:" value="{!a.ShippingStreet}"/>

            <apex:inputField label="Shipping Last Name:" value="{!a.Shipping_LastName__c}"/>
            <apex:selectList label="Shipping Country:" id="shippingcountryid" value="{!a.ShippingCountry}" size="1" onchange="updateShippingStateListJS();">
                <apex:selectOptions value="{!countries}"/>
            </apex:selectList>

            &nbsp;
            <apex:inputText id="shippingpostal" label="Shipping Postal Code:" value="{!a.ShippingPostalCode}"/>

            &nbsp;
            <apex:inputText id="shippingcity" label="Shipping City:" value="{!a.ShippingCity}"/>

            &nbsp;
            <apex:pageBlockSectionItem id="shippingstatediv">
                <apex:outputLabel value="Shipping State / Province:"/>

                <apex:outputPanel layout="none">
                    <apex:selectList rendered="{!a.ShippingCountry == 'USA' || a.ShippingCountry == 'Canada' || a.ShippingCountry == 'Australia'}" id="shippingstatesel" value="{!a.ShippingState}" size="1">
                        <apex:selectOptions value="{!shippingstates}"/>
                    </apex:selectList>

                    <apex:inputField id="shippingstate" value="{!a.ShippingState}" rendered="{!a.ShippingCountry != 'USA' && a.ShippingCountry != 'Canada' && a.ShippingCountry 
                                                                                             != 'Australia'}"/>
                </apex:outputPanel>
            </apex:pageBlockSectionItem>

            <script>
                function updateShippingStateListJS() {
                  updateShippingStateList($j("[Id='{!$Component.shippingcountryid}']").find(":selected").text());
                }
            
                
                $j("[Id='{!$Component.shippingpostal}']").blur(function() {
                  if($j("[Id='{!$Component.shippingcountryid}']").val() == 'USA' || $j("[Id='{!$Component.shippingcountryid}']").val() == 'Canada')  var addr = getAddressInfoByZip(this.value,'{!$Component.shippingcity}','{!$Component.shippingstatediv.shippingstate}','{!$Component.shippingstatediv.shippingstatesel}');
                });

            </script>




            </apex:pageBlockSection>

            <apex:pageBlockButtons >
                <apex:commandButton onclick="validatePhone();return false;" value="{!IF(isBillingAccountExists == true,'Update Customer Information' ,'Create Billing Account in Zuora' )}" status="status" reRender="mainform" /><!--onComplete="togglepayment();"-->
                <apex:commandButton onclick="window.location.href='/{!a.Id}';return false;" value="Back to Account Detail" rendered="{!a.Id != null}"/>
            </apex:pageBlockButtons>

        </apex:pageBlock>


        </apex:tab>

        <apex:tab label="Choose Market" name="section2" id="section2" rendered="false"> <!--rendered="{!showtab2}"-->
        <apex:pageBlock >
            <apex:pageMessages />
            <apex:pageBlockSection collapsible="false" columns="1">
                <apex:selectList label="Market:" value="{!selectedMarket}" size="1" onchange="updatebonusmarket();">
                    <apex:selectOptions value="{!marketSelectList}"/>
                </apex:selectList>

                <apex:selectList id="bonusmarket_div" rendered="{!a.BillingCountry != 'USA'}" label="Free Bonus Market:" value="{!selectedMarket2}" size="1">
                    <apex:selectOptions value="{!bonusMarketSelectList}"/>
                </apex:selectList>

                <apex:actionFunction name="updatebonusmarket" action="{!refreshShippingState}" reRender="bonusmarket_div" status="status"/>

            </apex:pageBlockSection>

            <apex:pageBlockButtons >
                <apex:commandButton action="{!tempSave}" value="Next" status="status" reRender="mainform" onComplete="togglepayment();"/>
            </apex:pageBlockButtons>

        </apex:pageBlock>
        </apex:tab>

        <apex:tab label="Feed & Edition" name="section3" id="section3" rendered="false"><!--rendered="{!showtab3}"-->
        <apex:pageBlock >
            <apex:pageMessages />
            <apex:pageBlockSection collapsible="false" columns="1">
                <apex:selectList label="Feed Type:" value="{!selectedProduct}" size="1">
                    <apex:selectOptions value="{!feedTypes}"/>
                </apex:selectList>

                <apex:selectList label="Edition:" value="{!selectedEdition}" size="1">
                    <apex:selectOptions value="{!editionTypes}"/>
                </apex:selectList>
            </apex:pageBlockSection>

            <apex:pageBlockButtons >
                <apex:commandButton action="{!tempSave}" value="Next" status="status" reRender="mainform" onComplete="togglepayment();"/>
            </apex:pageBlockButtons>

        </apex:pageBlock>
        </apex:tab>

        <apex:tab label="Payment Method" name="section4" id="section4" rendered="{!isBillingAccountExists}"><!--rendered="{!showtab4}"-->
        <apex:pageBlock >
            <apex:pageMessages rendered="{!PaymentMsg}"/>
            <!--<apex:pageBlockSection title="Plan" collapsible="false" columns="1" rendered="{!(a.Id == null || zca == null)}">
                <apex:selectRadio label="Type:" value="{!subscriptionType}">
                    <apex:selectOption itemLabel="Monthly" itemValue="Monthly"/>
                    <apex:selectOption itemLabel="Annual" itemValue="Annual"/>
                </apex:selectRadio>

                <apex:pageBlockSectionItem >
                    <apex:outputPanel >
                    Monthly:&nbsp;
                    <apex:outputText value="{!a.Account_Currency_Symbol__c}{0, number, ###.00}">
                        <apex:param value="{!monthly}" />
                    </apex:outputText> 
                    {!a.Account_Currency__c} per Month
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>

                <apex:pageBlockSectionItem >
                    <apex:outputPanel >
                    Annual:&nbsp;
                    <apex:outputText value="{!a.Account_Currency_Symbol__c}{0, number, ###.00}">
                        <apex:param value="{!annual}" />
                    </apex:outputText>
                    {!a.Account_Currency__c} per Year
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>

                <apex:pageBlockSectionItem >
                    <apex:outputPanel >
                    Saving Of:&nbsp;
                    <apex:outputText value="{!a.Account_Currency_Symbol__c}{0, number, ###.00}">
                        <apex:param value="{!savings}" />
                    </apex:outputText>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>

                <apex:pageBlockSectionItem >
                    <apex:outputPanel >
                    Trial Amount:&nbsp;
                    <apex:outputText value="{!a.Account_Currency_Symbol__c}{0, number, ###.00}">
                        <apex:param value="{!trialamount}" />
                    </apex:outputText>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>

                <apex:pageBlockSectionItem >
                    <apex:outputPanel >
                    Trial Days:&nbsp;
                    <apex:outputText value="{!trialdays}" />
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>

                <apex:pageBlockSectionItem >
                    <apex:outputPanel >
                    Apply Coupon:&nbsp;
                    <apex:inputText value="{!coupon_code}"/>
                    <apex:commandButton action="{!fetchCoupon}" value="Apply Coupon" reRender="mainform" status="status"/>
                    </apex:outputPanel>

                </apex:pageBlockSectionItem>

                <apex:pageBlockSectionItem >
                    <apex:outputPanel rendered="{!effective_coupon != null}">
                      Effective Discount Of:&nbsp; 
                      <apex:outputPanel rendered="{!effective_coupon.Discount_Amount__c != null}" layout="none">
                      <apex:outputText value="{!a.Account_Currency_Symbol__c}{0, number, ###.00}"><apex:param value="{!effective_coupon.Discount_Amount__c}" /></apex:outputText>
                      </apex:outputPanel>
                      <apex:outputPanel rendered="{!effective_coupon.Discount_Percentage__c != null}" layout="none">
                      {!effective_coupon.Discount_Percentage__c}%
                      </apex:outputPanel>
                      off first billing period 
                      <apex:outputPanel rendered="{!effective_coupon.Description__c != null}" layout="none">
                      (Note: {!effective_coupon.Description__c})
                      </apex:outputPanel>
                    </apex:outputPanel>

                </apex:pageBlockSectionItem>

                

            </apex:pageBlockSection>-->

            <apex:pageBlockSection title="Payment Type:" collapsible="false" columns="1">
                <apex:selectRadio id="paymenttype" value="{!paymentType}" onchange="togglepayment();">
                    <apex:selectOption itemLabel="Credit Card" itemValue="Credit Card"/>
                    <!--apex:selectOption itemLabel="ACH" itemValue="ACH" rendered="{!a.BillingCountry == 'USA'}"/-->
                </apex:selectRadio>
                <script>
                function togglepayment() {
                    if ($j("[name='{!$Component.paymenttype}'][value='Credit Card']").is(":checked")) {
                        $j("[Id='{!$Component.achentrydiv}']").hide();
                        $j("[Id='{!$Component.creditcardentrydiv}']").show();
                    } else {
                        $j("[Id='{!$Component.creditcardentrydiv}']").hide();
                        $j("[Id='{!$Component.achentrydiv}']").show();
                    }
                }
                </script>
            </apex:pageBlockSection>

            <apex:pageBlockSection title="Credit Card Info:" collapsible="false" columns="1" id="creditcardentrydiv">
                <apex:inputField id="cardname" value="{!payment_method.Credit_Card_Holder_Name__c}"/>
                
                <apex:inputField id="cardnumber" value="{!payment_method.Credit_Card_Number__c}"  onChange="determineCardType(this.value);"/>
                <apex:inputText id="cardtype_display" disabled="true" label="Credit Card Type"/>
                <apex:inputHidden id="cardtype" value="{!payment_method.Credit_Card_Type__c}"/>
                
                <apex:inputField id="cardexpmonth" value="{!payment_method.Credit_Card_Expiration_Month__c}"/>
                <apex:selectList id="cardexpyear" value="{!payment_method.Credit_Card_Expiration_Year__c}" size="1">
                    <apex:selectOptions value="{!expirationYears}"/>
                </apex:selectList>
                <apex:inputField id="cardcvv" value="{!payment_method.Credit_Card_CVV_Code__c}"/>
                <apex:inputHidden id="enc_value" value="{!payment_method.Enc_Value__c}"/>   

                <script>
                   // alert($j("[Id='{!$Component.cardnumber}']").val());
                    $j("[Id='{!$Component.cardnumber}']").val(vrCard);
                    $j("[Id='{!$Component.cardtype_display}']").val(vrCardtype); 
                    $j("[Id='{!$Component.cardtype}']").val(vrCardtype); 
                    
                function determineCardType(number) {
                    vrCard = number;
                    var re = {
                        Visa: /^4[0-9]{12}(?:[0-9]{3})?$/,
                        MasterCard: /^5[1-5][0-9]{14}$/,
                        AmericanExpress: /^3[47][0-9]{13}$/,
                        Diners: /^3(?:0[0-5]|[68][0-9])[0-9]{11}$/,
                        Discover: /^6(?:011|5[0-9]{2})[0-9]{12}$/,
                        JCB: /^(?:2131|1800|35\d{3})\d{11}$/
                    }

                    for(var key in re) {
                        if(re[key].test(number)) {
                            $j("[Id='{!$Component.cardtype}']").val(key);
                            vrCardtype = key;
                            $j("[Id='{!$Component.cardtype_display}']").val(key);
                            return;
                        }
                    }
                    // got here, invalid card
                    $j("[Id='{!$Component.cardtype}']").val('Invalid Card Number');
                    $j("[Id='{!$Component.cardtype_display}']").val('Invalid Card Number');
                    return;
                }

                function validcard() {
                    if ($j("[Id='{!$Component.cardtype}']").val() == 'Invalid Card Number') {
                        $j('.carderrcls').remove();
                        $j("[Id='{!$Component.cardnumber}']").parent().append('<span class=\"carderrcls\" style="color: red;">Invalid Credit Card Number</span>');    
                      return false;      
                    } 
                    return true;
                }
                function enccard() {
                    try {
                        
                        //add
                        var encvalue = encryptPCIField('#' + $j("[Id='{!$Component.cardnumber}']").val() + '#' + $j("[Id='{!$Component.cardcvv}']").val() + '#' + $j("[Id='{!$Component.cardexpmonth}']").val() + '#' + $j("[Id='{!$Component.cardexpyear}']").val());   
                        $j("[Id='{!$Component.enc_value}']").val(encvalue);
                        
                    } catch (err) {}
                        
                }
                </script>
            </apex:pageBlockSection>

            <apex:pageBlockSection title="ACH Info:" collapsible="false" columns="1" id="achentrydiv">
                <apex:inputField id="achabacode" value="{!payment_method.ACH_ABA_Code__c}"/>
                <apex:inputField id="achaccountnum" value="{!payment_method.ACH_Account_Number__c}"/>
                <apex:inputField id="achaccounttype" value="{!payment_method.ACH_Account_Type__c}"/>
                <apex:inputField id="achbankname" value="{!payment_method.ACH_Bank_Name__c}"/>
                <apex:inputField id="achaccountname" value="{!payment_method.ACH_Account_Name__c}"/>
            </apex:pageBlockSection>

            <apex:pageBlockButtons >
                <script>
                $j(function() {
                    togglepayment();
                });

                function saveAndSubmitJS() {
                    console.log('enter');
                    if (!validcard()) return false;

                    enccard();
                    
                    saveAndSubmit('section4');
                    
                    return false;
                }
                </script>

                <apex:commandButton onclick="saveAndSubmitJS();return false;" value="{!IF(a.Id != null, 'Add Payment', 'Save and Submit')}"/>
                <apex:commandButton onclick="window.location.href='/{!a.Id}';return false;" value="Back to Account Detail" rendered="{!a.Id != null}"/>
            </apex:pageBlockButtons>

        </apex:pageBlock>
        </apex:tab>

    </apex:tabPanel>

    <apex:actionFunction name="tempSave" action="{!tempSave}" reRender="mainform" status="status">
        <apex:param name="sameAsBilling" value=""/>
    </apex:actionFunction>

    <apex:actionFunction id="updateStateList" name="updateStateList" action="{!refreshState}" immediate="true" rerender="statediv,currencydiv" status="status" oncomplete="aftercurrencyupdate();">
        <apex:param id="countryname" name="countryname" value="" assignTo="{!a.BillingCountry}"/>
    </apex:actionFunction>
    <apex:actionFunction id="updateShippingStateList" name="updateShippingStateList" action="{!refreshShippingState}" immediate="true" rerender="shippingstatediv" status="status">
        <apex:param id="shipingcountryname" name="shippingcountryname" value="" assignTo="{!a.ShippingCountry}"/>
    </apex:actionFunction>

    <apex:actionFunction name="saveAndSubmit" action="{!saveAndSubmit}" reRender="mainform" status="status" oncomplete="togglepayment();">
        <apex:param id="isCalledFrom" name="isCalledFrom" value="" assignTo="{!isCalledFrom}"/>

    </apex:actionFunction>
 

<script language="javascript" src="https://maps.google.com/maps/api/js?sensor=false&key=AIzaSyBMejqEWAdN6nt43W0dcGdVziybU1puoA4"></script>

<script type="text/javascript" src="{!URLFOR($Resource.zqu__ImagesAndJavascriptZip,'js/pidcrypt/javascripts/pidcrypt.js')}" ></script>
<script type="text/javascript" src="{!URLFOR($Resource.zqu__ImagesAndJavascriptZip,'js/pidcrypt/javascripts/pidcrypt_util.js')}" ></script>
<script type="text/javascript" src="{!URLFOR($Resource.zqu__ImagesAndJavascriptZip,'js/pidcrypt/javascripts/jsbn.js')}" ></script>
<script type="text/javascript" src="{!URLFOR($Resource.zqu__ImagesAndJavascriptZip,'js/pidcrypt/javascripts/rng.js')}" ></script>
<script type="text/javascript" src="{!URLFOR($Resource.zqu__ImagesAndJavascriptZip,'js/pidcrypt/javascripts/prng4.js')}" ></script>
<script type="text/javascript" src="{!URLFOR($Resource.zqu__ImagesAndJavascriptZip,'js/pidcrypt/javascripts/asn1.js')}" ></script>
<script type="text/javascript" src="{!URLFOR($Resource.zqu__ImagesAndJavascriptZip,'js/pidcrypt/javascripts/rsa.js')}" ></script>

<script>

function sameAsBilling() {
    tempSave('1');
}

function encryptPCIField(fieldValue) {
    // If the field named fieldName does not require encryption, return the value with no changes
    //if(!encryptionRequiredFields[fieldName]) return fieldValue;

    var key = "{!signature_key}";
    var decodedKey = pidCryptUtil.decodeBase64(key);

    // Get RSA instance
    var rsa = new pidCrypt.RSA();
    var asn = pidCrypt.ASN1.decode(pidCryptUtil.toByteArray(decodedKey));
    var tree = asn.toHexTree();

    // Set the public key
    rsa.setPublicKeyFromASN(tree);

    // Encrypt
    var encrypted = rsa.encrypt(fieldValue);
    var fromHex = pidCryptUtil.encodeBase64(pidCryptUtil.convertFromHex(encrypted));
    var ciphertext = pidCryptUtil.fragment(fromHex, 64);

    return ciphertext;
}
   

/*** utility apis ***/
function getAddressInfoByZip(zip,citydiv,statediv,stateseldiv){
  if(zip.length >= 5 && typeof google != 'undefined') {
    var addr = {};
    var geocoder = new google.maps.Geocoder();
    geocoder.geocode({ 'address': zip }, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK){
        if (results.length >= 1) {
          for (var ii = 0; ii < results[0].address_components.length; ii++){
            var street_number = route = street = city = state = zipcode = country = formatted_address = '';
            var types = results[0].address_components[ii].types.join(",");
            if (types == "street_number"){
              addr.street_number = results[0].address_components[ii].long_name;
            }
            if (types == "route" || types == "point_of_interest,establishment"){
              addr.route = results[0].address_components[ii].long_name;
            }
            if (types == "sublocality,political" || types == "locality,political" || types == "neighborhood,political" || types == "administrative_area_level_3,political"){
              addr.city = (city == '' || types == "locality,political") ? results[0].address_components[ii].long_name : city;
            }
            if (types == "administrative_area_level_1,political"){
              addr.state = results[0].address_components[ii].long_name;
            }
            if (types == "postal_code" || types == "postal_code_prefix,postal_code"){
              addr.zipcode = results[0].address_components[ii].long_name;
            }
            if (types == "country,political"){
              addr.country = results[0].address_components[ii].long_name;
            }
          }
          addr.success = true;

          if (addr && addr.city && $j("[Id='" + citydiv + "']")) $j("[Id='" + citydiv + "']").val(addr.city);
          if (addr && addr.state && $j("[Id='" + statediv + "']")) $j("[Id='" + statediv + "']").val(addr.state);
          if (addr && addr.state && $j("[Id='" + stateseldiv + "']")) $j("[Id='" + stateseldiv + "']").val(addr.state);

          /*
          for (name in addr){
              console.log('### google maps api ### ' + name + ': ' + addr[name] );
          }
          */
        } 
      }
    });
  }
}

</script>

<script>
    function validatePhone(){
             var phoneno = /^[+]*[(]{0,1}[0-9]{1,3}[)]{0,1}[-\s\./0-9]*$/g;
             console.log($j('.phonecls').val());
             if( $j('.phonecls') != null && $j('.phonecls').val() != null && $j('.phonecls').val() != ''  ){
                  if(!$j('.phonecls').val().match(phoneno) || $j('.phonecls').val().length < 10)  {
                      console.log('enterrr'+$j('.phonecls').val());
                      $j(".phcls").remove(); 
                      $j(".phonecls").after("<span style=\"color: red \" class=\"phcls\"> Enter Valid Phone Number</span>");
                      //$j( "<span class=\"phcls\"> Please Enter Valid Phone Number</span>" ).insertAfter($j(".phonecls").prev());
                      return false;
                  }else{
                      $j(".phcls").remove(); 
                      console.log('entered in else');                              
                      tempSave('1');
                        }
                 }
                 else if($j('.phonecls') != null && ($j('.phonecls').val() == null || $j('.phonecls').val() == '')){
                    $j(".phcls").remove(); 
                      $j(".phonecls").after("<span style=\"color: red \" class=\"phcls\"> Please Enter Phone Number</span>");
                      return false;
                 }               
                 
              }
</script>


</apex:form>



</apex:page>