<apex:page id="loginPage" controller="ForgotPasswordController" showHeader="false" standardStylesheets="false" docType="html-5.0" title="Forgot Password | VectorVest - Stock Analysis, Market Timing and Portfolio Management Investment Software">
  
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="" />
  <meta name="author" content="" />

  <link rel="icon" href="https://www.vectorvest.com/wp-content/themes/vectorvest/favicon.ico" />

  <apex:stylesheet value="{!URLFOR($Resource.bootstrap,'bootstrap-3.3.6-dist/css/bootstrap.min.css')}" />

  <apex:stylesheet value="{!URLFOR($Resource.communities_css)}"/>


</head>



<body>

<apex:form id="mainform">

  <apex:actionStatus id="status">
  <apex:facet name="start">
  <div style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; opacity: 0.25; z-index: 1000; background-color: black;">
      &nbsp;
  </div>
  <div style="position: fixed; left: 0; top: 0; bottom: 0; right: 0; z-index: 1001; margin: 15% 45%">
      <div style="display: inline-block; padding: 2px; background-color: #fff; width: 125px;">
          <img src="/img/loading.gif" style="float: left; margin: 8px;" />
          <span style="display: inline-block; padding: 10px 0px;">Please Wait...</span>
      </div>
  </div>
  </apex:facet>
  </apex:actionStatus>

<div class="container">
    <div class="header">
      <div class="menu">
          <a href="https://www.vectorvest.com/" target="home"><img src="https://www.vectorvest.com/wp-content/themes/vectorvest/images/vv-logo.png" alt="logo"/></a>
          <div class="toright"><span style="font-weight: bold; font-size: 22px;">1-888-658-7638</span><br /><a href="http://www.vectorvest.com/contact-us/" target="contact" style="font-size: 12px; color: #ae9c4b;">International Phone Numbers</a></div>
      </div>
    </div>

  <div class="mainsection">

    <div class="vspace30"/>

    <div class="row">
    <div class="hidden-xs col-sm-3"></div>
        <div class="col-xs-12 col-sm-6">
          <div class="panel panel-darkblue">
            <div class="panel-body">
              <div>
                <apex:pageMessages />

              </div>
                <!--div style="font-size: 24px; font-weight: bold;">Forgot Password?</div>
                <div style="margin-bottom: 10px;">Enter your username to reset/create your password.</div-->
                <div style="font-size: 18px; font-weight: bold;">Enter your username to reset/create your password.</div><br/>
                
              <div class="form-group">
                <apex:outputLabel value="Username:"/>
                <apex:inputText required="true" styleClass="form-control" value="{!username}"/>
          </div>
          <div>
            <apex:commandButton id="submit" value="{!$Label.site.submit}" action="{!forgotPassword}" styleClass="btn btn-primary btn-block" rerender="mainform"/>
          </div>
          <hr/>
          <a href="/login">Login</a> &nbsp;&nbsp;&nbsp;
          <apex:outputpanel id="forgotusername"> 
          <apex:Commandlink value="Forgot Username?" action="{!ForgotUsername}" rendered="{!showforgotusername}"/>
          </apex:outputpanel>
            </div>
          </div>
          <div class="hidden-xs col-sm-3"></div>

        </div>
        </div>
    </div>


</div>


  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="{!URLFOR($Resource.bootstrap,'bootstrap-3.3.6-dist/js/bootstrap.min.js')}"></script>
  
  <!-- begin SnapEngage code -->
<script type="text/javascript">
  (function() {
    var se = document.createElement('script'); se.type = 'text/javascript'; se.async = true;
    se.src = '//storage.googleapis.com/code.snapengage.com/js/111f6dca-b9b1-4004-836b-0dd2de19e56f.js';
    var done = false;
    se.onload = se.onreadystatechange = function() {
      if (!done&&(!this.readyState||this.readyState==='loaded'||this.readyState==='complete')) {
        done = true;
        /* Place your SnapEngage JS API code below */
        /* SnapEngage.allowChatSound(true); Example JS API: Enable sounds for Visitors. */
      }
    };
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(se, s);
  })();
</script>
<!-- end SnapEngage code -->


</apex:form>

</body>

</apex:page>
<!--
<apex:page id="forgotPassword" showHeader="false" controller="ForgotPasswordController" title="{!$Label.site.forgot_password}">
 <apex:composition template="{!$Site.Template}">
    <apex:define name="body">
      <center>
        <apex:panelGrid bgcolor="white" columns="1"> 
          <br/>
          <br/>
          <apex:panelGrid width="758" cellpadding="0" cellspacing="0" bgcolor="white" columns="1" styleClass="topPanelContainer"> 
            <br/>
            <apex:outputPanel layout="block" styleClass="topPanel">
              <apex:panelGrid width="758" cellpadding="0" cellspacing="0" bgcolor="white" columns="2"> 
                <apex:image url="{!URLFOR($Resource.SiteSamples, 'img/clock.png')}"/>
                <apex:panelGroup >
                  <br/>
                  <apex:outputText styleClass="title" value="{!$Label.site.enter_password}"/>
                  <br/>
                  <apex:form id="theForm">
                    <apex:pageMessages id="error"/>
                    <apex:panelGrid columns="3" style="margin-top:1em;">
                      <apex:outputLabel value="{!$Label.site.username}" for="username"/>
                      <apex:inputText required="true" id="username" value="{!username}"/>
                      <apex:commandButton id="submit" value="{!$Label.site.submit}" action="{!forgotPassword}"/>
                    </apex:panelGrid> 
                    </apex:form>                  
                  <br/>
                </apex:panelGroup>
              </apex:panelGrid> 
             </apex:outputPanel>
            <c:SitePoweredBy />
          </apex:panelGrid> 
       </apex:panelGrid>
      </center>
      <br/>
    </apex:define>
  </apex:composition>
</apex:page>
-->