/** some overriding code */
body {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  background: #D6D6D6;
}

.form-group {
  margin-bottom: 5px;
}
.input-sm {
  height: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
}
select.input-sm {
  height: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
}
hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
.modal-header {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}
.modal-body {
  text-align: left;
}
.header {
  top: 0;
  margin: 0 0 80 0;
  height: 80px;
  background-color: #063f73;
  right: 0;
  left: 0;
  z-index: 1030;
}
.header .menu {
  margin: 0 0 0 0;
  left: 0;
  top: 0;
  height: 60px;
}
.menu img {
  margin-left: 25px;
  margin-top: 20px;
  margin-right:30px;
}
@media (max-width: 1024px) {
  .container {
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
  }
}
@media (min-width: 1024px) {
  .container {
    width:1024px;
  }
}
@media (max-width: 560px) {
  .header {
    height: 135px;
  }
  .header .menu {
    height: 115px;
    text-align: center;
  }
}
@media (min-width: 561px) {
  .toright {
    float: right;
	text-align: center;
	color: #ffffff;
	margin: 18px 30px 0 0;
	line-height: 1.2;
  }
}

.toright {
	color: #ffffff;
	margin-top: 15px;
	line-height: 1.2;
}

.left-column {
  font-family: arial;
}

.trial-header {
  margin: 0;
  padding: 25px;
  background: #c2dcf0;
  line-height: 1.2;
}
.trial-header .trial-text {
  color: #424242;
}

.mainsection {
  background-color: #fff;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 600px;
}
.darkblue-text {
  color: #00005C;
  font-weight: bold;
  font-size: 16px;
}

.vspace5 {
  margin-top: 5px;
}
.vspace10 {
  margin-top: 10px;
}
.vspace30 {
  margin-top: 30px;
}

.panel-darkblue {
  border-color: #242F6A;
  font-size: 12px;
}
.panel-darkblue .header-text {
  font-size: 16px;
}

.panel-darkblue .panel-heading {
  background-color: #242F6A;
  border-color: #242F6A;
  color: #fff;
}

.verisign {
  width: 100%;
  text-align: center;
}

.smallerror {
  font-size: 10px;
  color: red;
}
.largeerror {
  font-size: 14px;
  color: red;
}
.largetext {
  font-size: 16px;
}

/*** market selection ***/
.product-selection {
  background-color: #FFFFFF;
  background-position: top;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 36px;
  margin: 3px 0 0 0;
  position: relative;
  width: 67px;
  display: inline-block;
}

.product-selection .checkmark {
  background-image: url('https://www.vectorvest.com/Store/Images/btn-checkMark.png');
  background-repeat: no-repeat;
  display: none;
  height: 28px;
  width: 34px;
  position: absolute;
  bottom: -5px;
  right: -5px;
}

.product-selection.US { background-image: url('https://www.vectorvest.com/Store/Images/btn-us.png'); }
.product-selection.CA { background-image: url('https://www.vectorvest.com/Store/Images/btn-ca.png'); }
.product-selection.EU { background-image: url('https://www.vectorvest.com/Store/Images/btn-eu.png'); }
.product-selection.UK { background-image: url('https://www.vectorvest.com/Store/Images/btn-uk.png'); }
.product-selection.AU { background-image: url('https://www.vectorvest.com/Store/Images/btn-au.png'); }
.product-selection.SA { background-image: url('https://www.vectorvest.com/Store/Images/btn-sa.png'); }
.product-selection.HK { background-image: url('https://www.vectorvest.com/Store/Images/btn-hk.png'); }
.product-selection.IN { background-image: url('https://www.vectorvest.com/Store/Images/btn-in.png'); }
.product-selection.SG { background-image: url('https://www.vectorvest.com/Store/Images/btn-sg.png'); }

.product-selection:hover,
.product-selection.inactive:hover,
.product-selection.selected {
    background-position: bottom;   
}

.product-selection.selected .checkmark {
    display: block;
}

.product-selection.inactive {
    background-position: center;
}

.product-selection.disabled,
.product-selection.disabled:hover {
  background-position: center;
  cursor: default;
}

/** production selection  **/
.pricecomp-header {
  text-align: center;
  background: #D9D9D9;
  border-radius: 10px;
  font-size: 20px;
  color: #000073;
  font-weight: bold;
  padding: 5px;
  margin-bottom: 10px;
  font-style: normal;
}

.chart-header {
  text-align: center;
  font-size: 20px;
  color: #000073;
  font-weight: bold;
  padding:5px;
  font-style: normal;
}

.eod-header {
  background: #D9D9D9; /* For IE 7 to IE 9 */
  background: -webkit-linear-gradient(left top, #D9D9D9, #C2C2C2); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #D9D9D9, #C2C2C2); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #D9D9D9, #C2C2C2); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #D9D9D9, #C2C2C2); /* Standard syntax */
  border-left: solid 1px #8C8C8C;
  border-radius: 10px 0 0 0;
}

.id-header {
  background: #C2C2C2; /* For IE 7 to IE 9 */
  background: -webkit-linear-gradient(left top, #D9D9D9, #C2C2C2); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #D9D9D9, #C2C2C2); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #D9D9D9, #C2C2C2); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #D9D9D9, #C2C2C2); /* Standard syntax */
  border-left: solid 1px #8C8C8C;
  border-right: solid 1px #8C8C8C;
}

.rt-header {
  background: #D9D9D9; /* For IE 7 to IE 9 */
  background: -webkit-linear-gradient(left top, #D9D9D9, #C2C2C2); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #D9D9D9, #C2C2C2); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #D9D9D9, #C2C2C2); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #D9D9D9, #C2C2C2); /* Standard syntax */
  border-right: solid 1px #8C8C8C;
  border-radius: 0 10px 0 0;
}

.chart-deals {
  text-align: center;
  font-size: 12px;
  color: #000073;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  text-shadow: none;
  padding: 2px 5px;
}

.eod-deal {
  border-left: solid 1px #8C8C8C;
  background: #9E6840; /* For IE 7 to IE 9 */
  background: -webkit-linear-gradient(left, #89552E, #9E6840, #89552E); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #89552E, #9E6840, #89552E); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #89552E, #9E6840, #89552E); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #89552E, #9E6840, #89552E); /* Standard syntax */
  color: #F1F1F1;
}

.id-deal {
  border-left: solid 1px #8C8C8C;
  border-right: solid 1px #8C8C8C;
  background: #C1C1C1; /* For IE 7 to IE 9 */
  background: -webkit-linear-gradient(left, #858585, #C1C1C1, #858585); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #858585, #C1C1C1, #858585); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #858585, #C1C1C1, #858585); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #858585, #C1C1C1, #858585); /* Standard syntax */
}

.rt-deal {
  border-right: solid 1px #8C8C8C;
  background: #FDEA08; /* For IE 7 to IE 9 */
  background: -webkit-linear-gradient(left, #D59900, #FDEA08, #D59900); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #D59900, #FDEA08, #D59900); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #D59900, #FDEA08, #D59900); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #D59900, #FDEA08, #D59900); /* Standard syntax */
}

.price {
  font-family: Impact, Charcoal, sans-serif;
  font-size: 14px;
  font-style: normal;
  text-transform: uppercase;
  color: #000073;
  margin-top: -8px;
}

.big-price {
  font-size: 30px;
}

.per-year {
  font-size: 16px;
  color: #000000;
}

.product-features {
  font-size: 12px;
  text-shadow: 0px 1px 0px #ffffff;
  margin: 10px 0;
}

.product-features td {
  background: #F6F6F6; /* For IE 7 to IE 9 */
  background: -webkit-linear-gradient(left, #F6F6F6 70%, #DEDEDE); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #F6F6F6 70%, #DEDEDE); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #F6F6F6 70%, #DEDEDE); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #F6F6F6 70%, #DEDEDE); /* Standard syntax */
  color: #424242;
  text-align: center;
  font-style: italic;
  width: 22%;
}

.product-features tr.alt-row td {
  background: #E3E3E3; /* For IE 7 to IE 9 */
  background: -webkit-linear-gradient(left, #E3E3E3 70%, #CBCBCB); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #E3E3E3 70%, #CBCBCB); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #E3E3E3 70%, #CBCBCB); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #E3E3E3 70%, #CBCBCB); /* Standard syntax */
}

.product-features td.first {
  padding: 8px 8px 8px 4px;
  text-align: left;
  font-style: normal;
  width: 33%;
}

.product-features td.second {
  border-left: solid 1px #8C8C8C;
} 

.product-features td.third {
  border-left: solid 1px #8C8C8C;
  border-right: solid 1px #8C8C8C;
}

.product-features td.third.additional {
  color: #757575;
  font-style: italic;
}

.product-features td.fourth {
  border-right: solid 1px #8C8C8C;
}     

.product-features td.blank {
  background: none !important;
  border: none !important;
}

.product-features .check {
  background-image: url('https://www.vectorvest.com/Store/Images/check2.png');
  background-repeat: no-repeat;    
  height: 18px;
  width: 22px;
  margin: 0 auto;
}

.mobile-only {
  text-align: center;
}
.mobile-only .chart-header {
    text-align: center;
  font-size: 20px;
  color: #000073;
  font-weight: bold;
  padding: 5px;
  font-style: normal;
  border-left: solid 1px #8C8C8C;
  border-right: solid 1px #8C8C8C;
    border-radius: 10px 10px 0 0;
  background: #D9D9D9; /* For IE 7 to IE 9 */
  background: -webkit-linear-gradient(left top, #D9D9D9, #C2C2C2); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #D9D9D9, #C2C2C2); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #D9D9D9, #C2C2C2); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #D9D9D9, #C2C2C2); /* Standard syntax */
}

.mobile-only .chart-deals {
    text-align: center;
  font-size: 12px;
  color: #000073;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  text-shadow: none;
  padding: 2px 5px;
  border-left: solid 1px #8C8C8C;
  border-right: solid 1px #8C8C8C;
}

.mobile-only .eod-deal {
  background: #9E6840; /* For IE 7 to IE 9 */
  background: -webkit-linear-gradient(left, #89552E, #9E6840, #89552E); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #89552E, #9E6840, #89552E); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #89552E, #9E6840, #89552E); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #89552E, #9E6840, #89552E); /* Standard syntax */
  color: #F1F1F1;
}

.mobile-only .id-deal {
  background: #C1C1C1; /* For IE 7 to IE 9 */
  background: -webkit-linear-gradient(left, #858585, #C1C1C1, #858585); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #858585, #C1C1C1, #858585); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #858585, #C1C1C1, #858585); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #858585, #C1C1C1, #858585); /* Standard syntax */
}

.mobile-only .rt-deal {
  background: #FDEA08; /* For IE 7 to IE 9 */
  background: -webkit-linear-gradient(left, #D59900, #FDEA08, #D59900); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #D59900, #FDEA08, #D59900); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #D59900, #FDEA08, #D59900); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #D59900, #FDEA08, #D59900); /* Standard syntax */
}


.mobile-only {
    font-size: 16px;
    text-shadow: 0px 1px 0px #ffffff;
    margin: 10px 0;
}

.mobile-only .middle-row {
  background: #F6F6F6; /* For IE 7 to IE 9 */
  background: -webkit-linear-gradient(left, #F6F6F6 70%, #DEDEDE); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #F6F6F6 70%, #DEDEDE); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #F6F6F6 70%, #DEDEDE); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #F6F6F6 70%, #DEDEDE); /* Standard syntax */
    padding: 5px;
}

.mobile-only .alt-row {
  background: #E3E3E3; /* For IE 7 to IE 9 */
  background: -webkit-linear-gradient(left, #E3E3E3 70%, #CBCBCB); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #E3E3E3 70%, #CBCBCB); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #E3E3E3 70%, #CBCBCB); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #E3E3E3 70%, #CBCBCB); /* Standard syntax */
    padding: 5px;
}

.mobile-only .middle {
  border-left: solid 1px #8C8C8C;
  border-right: solid 1px #8C8C8C;
}

.mobile-only .bottom {
  border-radius: 0 0 10px 10px;
  border-left: solid 1px #8C8C8C;
  border-right: solid 1px #8C8C8C;
  border-bottom: solid 1px #8C8C8C;
  margin-bottom: 25px;
}

/*** pro and non pro ***/
.pickpro-text {
  font-size: 16px;
}

/*** payment ***/
.subscription-radio {
  font-weight: normal;
  font-size: 14px;
  font-family: arial;
  display: inline-block;
  margin: 20px;
}
.savings-text {
    font-weight: bold;
    color: #0a8900;
}

.greenbutton {
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  background-color: #589121;
  color: #ffffff;
  width: auto;
  margin: 10px;
  font-family: Impact, Charcoal, sans-serif;
  font-style: normal;
  text-shadow: none;
  text-shadow: 1px 1px 1px #000000;
  border: 1px solid #254407;
  cursor: pointer;
}
                               
.greenbutton-time {
  font-size: 14px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
}
                               
.greenbutton-price {
  font-size: 34px;
}