@charset "utf-8";
/* CSS Document */

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
	width: inherit !important;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* RESPONSIVE STUFF */
@media screen and (max-width: 735px) {
	
	.market-flag {
		float: none !important;
		display: inline-block;
	}
	
}

@media screen and (max-width: 700px) {
	
	.cart-title {
		font-size: 25px !important;
	}
	
	.cart-left-column, .cart-right-column {
		width: 100% !important;
		float: left !important;
		padding: 30px 30px 0 !important;
	}
	
	.cart-left-image {
		text-align: center !important;
	}
	
	.feature-box {
		border: none !important;
		width: 100% !important;
		margin: 0 !important;
	}
	
	.feature-box .feature-image {
		margin: 0 !important;
	}
	
	.feature-box .feature-text {
		text-align: center !important;
	}
	
	.selector-bar {
		padding: 0 20px !important;
	}
	
	.selector-box {
		width: 100% !important;
		margin: 0 0 30px !important;
		min-height: 0 !important;
	}
	
	.detail-left-column, .detail-right-column, .receipt-left-column, .receipt-right-column {
		width: 100% !important;
	}
	
}

@media screen and (max-width: 532px) {
	
	.market-flag {
		margin: 0 10px 10px !important;
	}
	
	.form-half-left, .form-half-right, .form-full-length {
		width: 100% !important;
		margin: 0 !important;
	}
	
	.detail-left-column, .detail-right-column {
		padding: 10px !important;
	}
	
}

/* NORMAL STUFF */

html, body {
	margin: 0;
	padding: 0;
	border: none;
	height: 100%;
}

body {
	font-family: 'Lato', Arial, sans-serif;
	color: #3c3c3c;
	font-size: 15px;
}

#site-container {
	overflow: hidden;
	min-height: 100%;
}

.wrapper {
	max-width: 1000px;
	margin: 0 auto;
	position: relative;
}

.clear {
	clear: both;
}

#header {
	height: 105px;
	position: relative;
	background-color: #063f73;
	margin-bottom: 3px;
}

#global-header {
	height: 27px;
	background-color: #022c54;
	text-align: right;
	color: #ffffff;
	padding: 4px 0 0;
	font-size: 14px;
}

#global-header a, .copyright a, #global-header a:visited, .copyright a:visited {
	color: #ffffff;
	text-decoration: none;
	font-weight: normal;
}

#global-header a:hover, .copyright a:hover {
	color: #ae9c4b;
}

#header-logo {
	float: left;
	max-width: 212px;
	width: 212px;
}

#header-logo div {
	display: block;
	text-indent: -5000em;
	height: 35px;
	/*background: transparent url(../images/vv-logo.png) 0 0 no-repeat;*/
	background-size: contain;
	margin: 21px 0 0 8px;
}

.inside-blue-bar {
	background-color: #c2dcf0;
	margin-bottom: 3px;
}

.cart-wrapper {
	max-width: 800px;
	margin: 0 auto;
	position: relative;
}

.cart-title {
	text-align: center;
	padding: 20px 0;
	font-family: 'Montserrat', Arial, sans-serif;
	font-weight: bold;
	color: #063f73;
	text-transform: uppercase;
	font-size: 33px;
}

.cart-lower-title {
	text-align: center;
	padding: 20px 0 0;
	font-family: 'Montserrat', Arial, sans-serif;
	font-weight: bold;
	color: #063f73;
	text-transform: uppercase;
	font-size: 26px;
}

.cart-lower-subtitle {
	text-align: center;
	padding-bottom: 20px;
}

.cart-content {
	background-color: #fff;
}

.cart-left-column {
	width: 50%;
	float: left;
	padding: 32px 32px 0;
}

.cart-left-title {
	font-family: 'Lato', Arial, sans-serif;
	color: #063f73;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

.cart-left-subhead {
	text-align: center;
	font-size: 20px;
	color: #4e4f4f;
	font-weight: bold;
	font-style: italic;
}

.cart-left-summary ul {
	margin: 5px 0;
	padding: 0 0 0 20px;
}

.cart-left-summary li {
	margin-bottom: 10px;
}

.cart-right-column {
	width: 50%;
	float: right;
	padding: 50px 10px 0;
}

.form-label {
	font-weight: bold;
	font-size: 18px;
}

input, select {
	width: 100%;
	padding: 10px;
	margin: 3px 0 20px;
}

input[type="checkbox"] {
	width: auto;
	-ms-transform: scale(2); /* IE */
	-moz-transform: scale(2); /* FF */
	-webkit-transform: scale(2); /* Safari and Chrome */
	-o-transform: scale(2); /* Opera */
	margin-right: 8px;
}

input[type="submit"] {
	margin-top: 20px;
	font-family: 'Montserrat', Arial, sans-serif;
	color: #ffffff;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 22px;
	background-color: #7a9132;
	border-radius: 15px;
	border: 0;
}

.selector-box input[type="submit"] {
	margin-top: 20px;
	font-family: 'Montserrat', Arial, sans-serif;
	color: #ffffff;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 16px;
	background-color: #7a9132;
	border-radius: 15px;
	border: 0;
	padding: 7px;
}

input[type="submit"]:hover, a.green-button:hover {
	background-color: #89a92a;
}

a.green-button {
	font-family: 'Montserrat', Arial, sans-serif;
	color: #ffffff;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 22px;
	background-color: #7a9132;
	border-radius: 15px;
	border: 0;
	padding: 10px;
	text-decoration: none;
	display: block;
	text-align: center;
	margin-bottom: 20px;
}

a.green-button.deselected {
	opacity: 0.2;
}

.feature-bar, .selector-bar {
	background-color: #fff;
	margin-top: 40px;
}

.feature-box {
	border-radius: 20px;
	border: 1px solid #063f73;
	position: relative;
	padding: 15px 20px;
	width: 31%;
	margin: 0 1%;
	float: left;
}

.feature-image {
	text-align: center;
	margin: -35px auto 5px;
}

.feature-image img {
	background-color: #ffffff;
	padding: 0 6px;
}

.feature-title {
	font-family: 'Montserrat', Arial, sans-serif;
	color: #063f73;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	font-size: 15px;
}

.feature-text {
	font-size: 14px;
	margin-top: 3px;
}

.selector-box ul {
	margin: 0;
	padding: 0 0 0 20px;
}

.selector-box ul li {
	margin-bottom: 6px;
}

.market-box {
	border-radius: 20px;
	border: 1px solid #063f73;
	position: relative;
	padding: 15px 20px;
	width: 48%;
	margin: 0 1%;
	float: left;
	text-align: center;
}

.market-title {
	font-family: 'Montserrat', Arial, sans-serif;
	color: #063f73;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	font-size: 18px;
	padding-bottom: 10px;
}

.market-flag {
	float: left;
	cursor: pointer;
	margin: 0 10px 10px 0;
}

.market-flag img {
	margin: 0;
	padding: 0;
	border: 1px solid #063f73;
}

.market-flag.selected img {
	box-shadow: 0px 0 0 3px #7a9132;
	border: 1px solid #7a9132;
}

.market-flag.deselected img {
	border: 1px solid #063f73;
	opacity: 0.2;
}

.selector-wrapper, .detail-wrapper {
	max-width: 975px;
	margin: 0 auto;
	position: relative;
}

.selector-box {
	border-radius: 20px;
	border: 1px solid #063f73;
	position: relative;
	padding: 15px 20px;
	width: 31%;
	margin: 0 1%;
	float: left;
	min-height: 359px;
}

.selector-title {
	font-family: 'Montserrat', Arial, sans-serif;
	color: #063f73;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	font-size: 20px;
	padding-bottom: 10px;
}

.selector-subtitle {
	text-align: center;
}

.asterisk {
	font-size: 12px;
	font-style: italic;
	text-align: center;
	margin-top: 10px;
	cursor: pointer;
	position: relative;
}

.asterisk-tool-image {
	width: 14px;
	margin-bottom: -3px;
	margin-left: 3px;
}

.asterisk #asterisk-tooltip {
	visibility: hidden;
	background-color: #f6f9fb;
	border-radius: 6px;
	border: 1px solid #cdcdcd;
	padding: 6px;
	position: absolute;
	z-index: 1;
	width: 150px;
    top: 155%;
    left: 50%;
	margin-left: -75px;
}

.asterisk:hover #asterisk-tooltip {
	visibility: visible;
}

.asterisk #asterisk-tooltip::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%; /* To the right of the tooltip */
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #cdcdcd transparent;
}

.selector-callout {
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 0 18px 0 10px;
	padding: 5px 15px;
	color: #fff;
	font-weight: bold;
	font-style: italic;
	font-size: 14px;
}

.selector-callout.blue {
	background-color: #063f73;
}

.selector-callout.gold {
	background-color: #ae9c4b;
}

.selector-callout.green {
	background-color: #7a9132;
}

.detail-left-column {
	float: left;
	width: 60%;
	padding: 0;
}

.detail-left-title {
	font-family: 'Montserrat', Arial, sans-serif;
	color: #063f73;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	font-size: 24px;
	padding: 10px;
}

.form-half-left {
	float: left;
	width: 48%;
	margin: 0 1%;
}

.form-half-right {
	float: right;
	width: 48%;
	margin: 0 1%;
}

.form-full-length {
	width: 98%;
	margin: 0 1%;
}

.cc-expiration {
	width: 56%;
	float: left;
}

.cc-cvc {
	width: 40%;
	float: right;
}

.cvc-button {
	float: right;
	position: relative;
	display: inline-block;
	cursor: pointer;
}

.cvc-button #cvc-tooltip {
	visibility: hidden;
	background-color: #f6f9fb;
	border-radius: 6px;
	border: 1px solid #cdcdcd;
	padding: 6px;
	position: absolute;
	z-index: 1;
	width: 280px;
	top: -6px;
	left: 140%;
}
.cvc-button:hover #cvc-tooltip {
	visibility: visible;
}


.cvc-button #cvc-tooltip::after {
	content: " ";
	position: absolute;
	top: 50%;
	right: 100%;
	margin-top: -45px;
	border-width: 4px;
	border-style: solid;
	border-color: transparent transparent transparent #cdcdcd;
}
.detail-right-column {
	float: right;
	width: 40%;
	padding: 15px;
}

.summary-panel {
	border: 1px solid #cdcdcd;
	padding: 20px;
	background-color: #f6f9fb;
}

.summary-title {
	font-family: 'Montserrat', Arial, sans-serif;
	color: #063f73;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	font-size: 20px;
	padding-bottom: 10px;
}

.summary-text td {
	padding: 3px;
}

.summary-print {
	text-align: center;
	font-weight: bold;
	color: #063f73;
}

.print-icon {
	margin: 0 4px -5px 0;
}

.social-bar {
	text-align: center;
	padding: 20px 0;
}

.social-icons {
	margin-top: 10px;
}

.social-bar img {
	width: 10%;
	margin-right: 10px;
}

.social-bar a:last-of-type img {
	margin-right: 0;
}

.receipt-title {
	font-family: 'Montserrat', Arial, sans-serif;
	color: #063f73;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 20px;
	padding-bottom: 10px;
}

.receipt-left-column {
	width: 50%;
	float: left;
	padding: 15px;
}

.receipt-right-column {
	width: 50%;
	float: right;
	padding: 15px;
}

.receipt-text {
	font-weight: bold;
	margin-bottom: 40px;
}

.optional {
	font-weight: normal;
	color: #8b8b8b;
}

.centered {
	text-align: center;
}

.pro-text {
	padding: 5px;
}

.footer-container {
	background-color: #063f73;
	margin-top: 40px;
}

.footer {
	padding: 20px;
	text-align: center;
	color: #fff;
	font-size: 12px;
}